table.table-nowrap th,
table.table-nowrap td {
    white-space: nowrap;
}

.pb10 {
    padding-bottom: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.cc-form-control {
    height: 34px;
    line-height: 34;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

@media (min-width:992px) {
    .modal-lg {
        width: 1200px
    }
}

@media (max-width:992px) {
    .modal-lg {
        width: 900px
    }
}


/* 两列布局 */

sidebar {
    left: 15px;
    z-index: 1000;
    width: 220px
}

.easysearch-checked,
#Tcode {
    width: 180px!important;
    border-bottom: 2px solid #ddd;
}

input.input-companyInfo-search {
    display: inline;
    max-width: 110px;
}

#btn-companyInfo-search {
    display: inline-block;
    margin-bottom: 3px;
}

.cc-h2 {
    font-size: 30px;
    padding-left: 0;
    margin-top: 0;
}

.rightSide {
    margin-left: 250px;
    padding-right: 15px;
}

.rightSide .showContent {
    width: 1080px;
}

@media (max-width:1360px) {
    .rightSide .showContent {
        width: 920px
    }
}

.collectedStar-active {
    color: orange;
}


/* DataTable buttons float right */

.dt-buttons {
    float: right!important;
}

@media(min-width: 1300px) {
    .rightSide .showContent {
        margin: 0 auto;
    }
}

.cc-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    border-bottom: 2px solid #ddd;
}

.cc-btn:focus,
.cc-btn:active:focus,
.cc-btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.cc-btn:hover,
.cc-btn:focus {
    color: #333;
    text-decoration: none
}

.cc-btn:active,
.cc-btn.active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.cc-btn.disabled,
.cc-btn[disabled],
fieldset[disabled] .cc-btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65
}

.cc-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.cc-btn-default:hover,
.cc-btn-default:focus,
.cc-btn-default:active,
.cc-btn-default.active,
.open>.dropdown-toggle.cc-btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.cc-btn-default:active,
.cc-btn-default.active,
.open>.dropdown-toggle.cc-btn-default {
    background-image: none
}


/* 覆盖 global的 按钮 样式 */

a.cc-btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    border-bottom: 2px solid #ddd;
}
